.sid-container {
  background-color: #ffa200;
  height: 100%;
  width: 70px;
  position: fixed;
  grid-column: 1/2;
  grid-row: 1/3;
  flex-direction: column;
  font-size: 0.9rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.sid-item {
  padding-top: 15px;
  
}

.sid-img {
  margin-top: 4rem;
  margin-bottom: 20px;
  padding: 5px 5px 5px 0;
  margin-bottom: 50px;
}

.img {
  margin-left: 6px;
  
}
.img img {
  position: fixed;
  width: 55px;
  border-radius: 50%;
  border: 2px solid #14213d;
}
.img img:hover {
  width: 55px;
  border: 2px solid #7b3eb1;
}
.sid-link {
  color: #14213d;
  display: grid;
  padding: 0.5rem 0.8rem;
  margin-top: 5px;
  margin-bottom: 35px;
  margin-left: 6px;
}
.sid-link :hover {
  color: #7b3eb1;
}
.icon {
  width: 35px;
  height: 35px;
}
