.container {
  grid-column: 2/3;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f6fc;
  padding: auto;
}
.section {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  width: 700px;
  padding: 10px;
}
.btn {
  font-size: 15px;
  width: 70px;
  height: 35px;
  outline: none;
  background-color: #14213d;
  padding: 5px 10px;
  color: #ffa200;
  border-radius: 5px;
  border: 1px solid #baa1e2;
  box-shadow: 5px 10px 8px #c5c5c5;
}
.btn:hover {
  font-size: 15px;
  outline: none;
  background-color: #ffa200;
  padding: 5px 10px;
  color: #14213d;
  border-radius: 5px;
  border: 1px solid #ffa200;
}
.btnCancel {
  font-size: 15px;
  background-color: #fff;
  color: #e11d48;
  border: 1px solid #e11d48;
}
.btnCancel:hover {
  font-size: 15px;
  background-color: #e11d48;
  color: #fff;
  border: 1px solid #e11d48;
}
.primary {
  width: 200px;
  height: 40px;
  background-color: #14213d;
  color: #ffa200;
  margin: 20px;
  font-size: 15px;
}
.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.resultSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.text {
  color: #616161;
}
.expenseBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 60px;
  width: 200px;
  border-radius: 40px;
  padding: 5px 8px;
  background-color: rgb(247, 241, 241);
  border: 1px solid rgb(240, 232, 232);
  box-shadow: 5px 10px 8px #acacac;
  margin-bottom: 10px;
}
.form-expense {
  display: flex;
  padding: 5px;
  flex-direction: column;
  min-height: 150px;
  align-items: center;
}
.input {
  margin-top: 10px;
  padding-left: 8px;
  padding-bottom: 2px;
  height: 38px;
  width: 300px;
  background-color: rgb(247, 241, 241);
  border: 1px solid rgb(240, 232, 232);
  box-shadow: 5px 10px 8px #d3d3d3;
  border-radius: 10px;
  outline: none;
  color: #7b3eb1;
  font-size: 23px;
}
.input::placeholder {
  color: #8d8d8d;
  font-size: 18px;
}
.radioBox {
  display: flex;
  margin-top: 15px;
  align-items: center;
  font-size: 25px;
}
.radioBox label {
  color: #6e6e6e;
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -5px;
  left: -3px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1.5px solid #14213d;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -5px;
  left: -3px;
  position: relative;
  background-color: #ffb703;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #14213d;
}
.transaction {
  min-width: 290px;
  max-width: 600px;
  min-height: 30px;
  max-width: 50px;
  margin: 10px 0 8px 29%;
  border-radius: 5px;
  padding: 10px 0;
  background-color: #aef3a2;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-right: 6px solid #05a540;
}
.search {
  border: 1px solid #949d93;
  border-radius: 6px;
  width: 280px;
  height: 20px;
  margin-left: 29.5%;
  margin-top: 5px;
  color: #7b3eb1;
  padding-left: 5px;
}
.search::placeholder {
  color: #8d8d8d;
  display: block;
  padding-left: 5px;
  font-size: 17px;
}
.search:focus {
  color: #ff7d03;
  font-size: 17px;
  padding-left: 5px;
  outline: none;
  border: 1.5px solid #6411ad;
  box-shadow: 5px 10px 8px #d3d3d3;
}

h3 {
  font-size: 35px;
  margin-left: 32%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.p1 {
  font-size: 25px;
  color: #7b3eb1;
  margin-left: 20%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.p2 {
  font-size: 20px;
  color: #949d93;
  margin-left: 35%;
}
.btnDelete {
  display: flex;
  border: none;
  padding-top: 2px;
  background-color: #aef3a2;
}

.p-expense {
  font-size: 40px;
  color: #ff7d03;
  margin-left: 30%;
  width: 0ch;
  overflow: hidden;
  animation: typing 1s steps(15) forwards 1s;
}

@keyframes typing {
  100% {
    width: 15ch;
  }
}
.square {
  width: 5rem;
  height: 5rem;
}
.chart{
  height: 150px;
  width:  150px;
  margin-bottom: 15px;
}
